div(ng-controller="importEventCtrl" style="background-color:#f2f2f2;")
.modal-header
  .modal-body(style='height:105vh;')
    .row(style='background-color:#ffffff; margin:0px;')
      .col-lg-12
      .save-draft-cont(style='position:absolute; float:left; margin-left:-45px;')
            button.btn.btn-default.btn-circle.glyphicon.glyphicon-remove(type="button" ng-click="cancel()")
      .create-new-event-cont
      .h2.h2-create-new|Available Events for Import
      br
      .hor-line-br
      br
    .row
        .col-md-4
        
            .right-inner-addon
                i.fa.fa-fw.fa-search
                input.form-control(ng-model="searchText" type='search', placeholder='Search Events', style='background-color:#ffffff; border: 1px thin; border-color:#c7c7c7; font-weight:normal;')
        br
        br
    .row
        .col-lg-12
            .hor-line-br("style='margin-top:15px;'")
    .row
        .col-lg-12
                .table-responsive
                    table.table.table-hover.table-striped
                        thead
                            tr
                                th
                                    a(href="" ng-click="sortType = 'eventName'; sortReverse = !sortReverse")
                                        | Event
                                        span(ng-show="sortType == 'eventName' && !sortReverse" class="fa fa-caret-down")
                                        span(ng-show="sortType == 'eventName' &&  sortReverse" class="fa fa-caret-up") 
                                th
                                    a(href="" ng-click="sortType = 'eventType'; sortReverse = !sortReverse")
                                        | Type 
                                        span(ng-show="sortType == 'eventType' && !sortReverse" class="fa fa-caret-down")
                                        span(ng-show="sortType == 'eventType' &&  sortReverse" class="fa fa-caret-up") 
                                th
                                    a(href="" ng-click="sortType = 'coordinatorAssign'; sortReverse = !sortReverse")
                                        | Coordinator 
                                        span(ng-show="sortType == 'coordinatorAssign' && !sortReverse" class="fa fa-caret-down")
                                        span(ng-show="sortType == 'coordinatorAssign' &&  sortReverse" class="fa fa-caret-up") 
                                th
                                    a(href="" ng-click="sortType = 'dateCreated'; sortReverse = !sortReverse")
                                        | Date 
                                        span(ng-show="sortType == 'dateCreated' && !sortReverse" class="fa fa-caret-down")
                                        span(ng-show="sortType == 'dateCreated' &&  sortReverse" class="fa fa-caret-up") 
                        tbody
                             tr(ng-repeat="instance in importInstances | searchAll : searchText | orderBy:sortType:sortReverse" ng-mouseenter="hover = true" ng-mouseleave="hover = false")
                                td {{instance.eventName}} 
                                td {{instance.eventType}}
                                td {{instance.userCreated.displayName}}
                                td {{instance.dateCreated | date:'MM/dd/yyyy' }}
                                td
                                    a(href='', data-nodrag='', ng-click="importInstance(instance)")
                                        span.glyphicon.glyphicon-duplicate("style='font-size:1.4em;'")
                                
                                     