div
 h2
    | new task screen
 tabset
  tab(ng-repeat="category in a.categories" heading="{{category.displayValue}}")
    div(ng-repeat = "topic in a.categories[category.displayValue].topics")
        h3
            | {{topic.displayValue}}
        div(ng-repeat="subTopic in a.categories[category.displayValue].topics[topic.displayValue].subTopics")
            | {{subTopic.displayValue}}
            div(ng-repeat="bullet in a.categories[category.displayValue].topics[topic.displayValue].subTopics[subTopic.displayValue].bullets")
                | {{bullet.displayValue}}
                div(ng-repeat="subBullet in a.categories[category.displayValue].topics[topic.displayValue].subTopics[subTopic.displayValue].bullets[bullet.displayValue].subBullets")
                    input(type='text'  size='75' value = "{{subBullet.displayValue}}")
  