div(ng-controller="copyOptionCtrl" style="background-color:#f2f2f2;")
.modal-header(style='height:105vh;')
  .modal-body(style='width:70')
    .row(style='background-color:#ffffff; margin:0px;')
      .col-sm-12
      .save-draft-cont(style='position:absolute; float:left; margin-left:-45px;')
            button.btn.btn-default.btn-circle.glyphicon.glyphicon-remove(type="button" ng-click="cancel()")
      .create-new-event-cont
      .h3.h3-create-new|Copy Event Option
      br
    .row
        .col-sm-12
            table
              tr
                th|Event Name:
                td(style='padding-left: 5px;')|  {{selectedInstance.eventName}}
              tr
                th|Event ID:
                td(style='padding-left: 5px;')|  {{selectedInstance.eventInstanceId}}
              tr
                th|Event Type:
                td(style='padding-lef: 5px;')|  {{selectedInstance.eventType}}
              tr
                th|Created by:
                td(style='padding-left: 5px;')|  {{selectedInstance.userCreated.displayName}}
            hr
    .row
        .col-sm-12
            .h4|Please selection an option
            div(ng-repeat="option in copyOptions")
              input(type='radio' name="copyChoice" ng-model = "$parent.selectedOption"  ng-value="option.optionValue")
              label(style='color:#337AB7')
                |&nbsp; {{option.displayText}}
            br
            div
              button.btn.btn-warning(type="button" ng-click="cancel()" style="float:left")
               | Cancel
              button.btn.btn-success(type="button" ng-click="accept(selectedOption)" style="float:left; margin-left:5px;")
               | Accept