div(ng-controller="createEventCtrl" style="background-color:#f2f2f2;")
	.modal-content
		.modal-header.header_dark
			.row(style='background-color:#ffffff;')
				.col-lg-12
					.create-new-event-cont
						h2.h2-create-new(id='myModalLabel') Create New Event
						br
						p.p-create-new {{date | date:'medium'}}
					.create-btn-cont
						button.btn.btn-default.btn-success(type="button" ng-click="createEvent()")
							| Create
					.save-draft-cont
						button.btn.btn-default(type="button" ng-click="saveDraftEvent('clicked')" style='background-color:#bababa; color:#eeeeee;')
							| Save Draft
					
					.save-draft-cont(style='position:absolute; float:left; margin-left:-30px;')
						button.btn.btn-default.btn-circle.glyphicon.glyphicon-remove(type="button" ng-click="cancel()")
		.modal-body(style='background-color:#f2f2f2;')
			.row(style='background-color:#ffffff; margin-top:-15px;')
				.col-lg-12
					.form-comp-cont
						label Event Name
						input#exampleInputName2.form-control(placeholder="Enter event name" ng-model="eventdoc.eventName")
					.form-comp-cont
						label Type
						select.form-control(placeholder="Select event type" ng-model="eventdoc.eventType" ng-options="event as event for event in eventTypes")
							option(value="") - Select event type -
			.row(style='background-color:#f2f2f2; height:100vh;')
				.col-lg-12.col-md-12.col-sm-12
					.tab-container
						tabset
							tab(ng-repeat="category in eventdoc.categories" heading="{{category.name}}")
								.row
									.col-lg-12(ui-tree='options')
										.tab-content(style='background-color:#ffffff;')
											.tab-title-heading
												img(ng-if='category.name=="Web"' src='img/web-icon.png', width='37', height='32')
												img(ng-if='category.name=="TV"' src='img/tv-icon.png', width='37', height='32')
												img(ng-if='category.name=="Print"' src='img/news-icon.png', width='37', height='32')
												|   {{category.name}}
											.assign-to-cont
												label Assign To
												select.form-control(placeholder='Select Analyst' ng-model='category.userAssigned' ng-options='user as user.displayName for user in users track by user.id' )
													option(value="") - Select an analyst -
											br
											br
											br
											hr
											br
											ol(ui-tree-nodes='', ng-model='category.topics', data-type='topic')
												li(ng-repeat='topic in category.topics', ui-tree-node='')
													.topic-title.angular-ui-tree-handle(ng-show='!topic.editing' ng-mouseenter="hover = true" ng-mouseleave="hover = false")
														a.btn.btn-danger.btn-xs.pull-right(ng-show="hover" href='', data-nodrag='', ng-click='removeTopic(category,topic)')
															i.glyphicon.glyphicon-remove
														a.btn.btn-primary.btn-xs.pull-right(ng-show="hover" href='', data-nodrag='', ng-click='editTopic(topic)')
															i.glyphicon.glyphicon-pencil
														div  {{topic.name}}
													.topic-title.angular-ui-tree-handle(data-nodrag='', ng-show='topic.editing')
														form.form-inline(role='form')
															.form-topic
																label.sr-only(for='topicName') Topic name
																input.form-control(type='text', placeholder='Topic name', ng-model='topic.name' ng-keyup='$event.keyCode==13 ? saveTopic(topic) : null')
															//button.btn.btn-default(type='submit', ng-click='saveTopic(topic)') Save
															//button.btn.btn-default(type='submit', ng-click='cancelEditingTopic(topic)') Cancel
													ol(ui-tree-nodes='', ng-model='topic.subTopics', data-type='subTopic')
														li(ng-repeat='subTopic in topic.subTopics', ui-tree-node='')
															.subTopic-title.angular-ui-tree-handle(ng-show='!subTopic.editing' ng-mouseenter="hover = true" ng-mouseleave="hover = false")
																a.btn.btn-danger.btn-xs.pull-right(ng-show="hover" href='', data-nodrag='', ng-click='removeSubTopic(topic, subTopic)')
																	i.glyphicon.glyphicon-remove
																a.btn.btn-primary.btn-xs.pull-right(ng-show="hover" href='', data-nodrag='', ng-click='editSubTopic(subTopic)')
																	i.glyphicon.glyphicon-pencil
																div
																	| {{subTopic.name}}
															.subTopic-title.angular-ui-tree-handle(data-nodrag='', ng-show='subTopic.editing')
																form.form-inline(role='form')
																	.form-topic
																		label.sr-only(for='subTopicName') SubTopic name
																		input.form-control(type='text', ng-model='subTopic.name', placeholder='SubTopic name' ng-keyup='$event.keyCode==13 ? saveSubTopic(subTopic) : null')
													ol.angular-ui-tree-nodes(data-nodrag='')
														li.angular-ui-tree-node
															.subTopic-title.angular-ui-tree-handle
																form.form-inline(role='form')
																	.form-topic
																		label.sr-only(for='subTopicName') SubTopic name
																		input.form-control(type='text', ng-model='topic.newSubTopicName', placeholder='SubTopic name' ng-keyup='$event.keyCode==13 ? addSubTopic(topic) : null')
																	//button.btn.btn-default(type='submit', ng-click='addSubTopic(topic)') Add SubTopic
											ol.angular-ui-tree-nodes
												li.angular-ui-tree-node
													.topic-title.angular-ui-tree-handle
														form.form-inline(role='form')
															.form-topic
																label.sr-only(for='topicName') Topic name
																input#topicName.form-control(type='text', placeholder='Topic name' ng-model="topicValue[category.name]" ng-keyup='$event.keyCode==13 ? addTopic(category) : null')
															//button.btn.btn-default(type='submit', ng-click='addTopic(category)') Add Topic
								//.row
									.col-lg-6
											h3 Data binding
											.info
												| {{  }}
											pre.code.
												{{ eventdoc | json }}	

			.clear-divs


			

							
						