div(ng-controller="createEventCtrl")
	.modal-content
		.modal-header.header_dark
			span.pull-right
				button.btn.close_button.glyphicon.glyphicon-remove(ng-click="cancel()")
			h4.modal-title(id='myModalLabel') &nbsp;Create New Event
		.modal-body
			form.form-inline
				.form-group
					label Event Name
					input.form-control(placeholder="Please enter event name" ng-model="eventName")
				.form-group
					label Event Type
					select.form-control(placeholder="Select event type" ng-model="selectEvent")			
			.row
				.col-lg-9.col-md-9.col-sm-9
					tabset
						tab(ng-repeat="category in document.categories" heading="{{category.displayValue}}")
							form.form-inline.pull-right
									.form-group
										label Assign To
										select.form-control(placeholder="Select Analysst" ng-model="assignedAnalyst")
							div(ng-repeat="topic in document.categories[category.displayValue].topics")
								h1
									| {{topic.displayValue}}
								form.form-inline
									.form-group
										input.form-control(type="text" ng-model="subTopicValue[category.displayValue+'-'+topic.displayValue]" placeholder="Add Sub Topic" )
										label(type="button" class="btn btn-default" aria-label="Left Align" ng-click="addSubTopic(category.displayValue,topic.displayValue)")
											| add								
								div(ng-repeat="subtopic in document.categories[category.displayValue].topics[topic.displayValue].subTopics")
									h3
										| &nbsp;&nbsp;&nbsp;{{subtopic.displayValue}}
								hr
							form.form-inline
								.form-group
									input.form-control(type="text" ng-model="topicValue[category.displayValue]" placeholder="Add Topic" )
									label(type="button" class="btn btn-default" aria-label="Left Align" ng-click="addTopic(category.displayValue)" width="100%")
										| add
							
						