#page-wrapper
    .container-fluid
        // Page Heading
        .row
            .header.col-lg-12
                h2.page-header
                    | Active Events
        // Page Content
        .row
            .col-lg-12
                .table-responsive
                    table.table.table-hover.table-striped
                        thead
                            tr
                                th
                                    a(href="" ng-click="sortType = 'eventName'; sortReverse = !sortReverse")
                                        | Event
                                        span(ng-show="sortType == 'eventName' && !sortReverse" class="fa fa-caret-down")
                                        span(ng-show="sortType == 'eventName' &&  sortReverse" class="fa fa-caret-up") 
                                th
                                    a(href="" ng-click="sortType = 'eventInstanceId'; sortReverse = !sortReverse")
                                        | ID
                                        span(ng-show="sortType == 'eventInstanceId' && !sortReverse" class="fa fa-caret-down")
                                        span(ng-show="sortType == 'eventInstanceId' &&  sortReverse" class="fa fa-caret-up")  
                                th
                                    a(href="" ng-click="sortType = 'dateCreated'; sortReverse = !sortReverse")
                                        | Date 
                                        span(ng-show="sortType == 'dateCreated' && !sortReverse" class="fa fa-caret-down")
                                        span(ng-show="sortType == 'dateCreated' &&  sortReverse" class="fa fa-caret-up")  
                                th(ng-show = "{{draftStatus}}")
                                    a(href="" ng-click="sortType = 'randomNumber'; sortReverse = !sortReverse")
                                        | Status 
                                        span(ng-show="sortType == 'randomNumber' && !sortReverse" class="fa fa-caret-down")
                                        span(ng-show="sortType == 'randomNumber' &&  sortReverse" class="fa fa-caret-up")  
                        tbody
                             //tr(ng-repeat="instance in instances | filter: $parent.searchText | orderBy:sortType:sortReverse")
                             tr(ng-repeat="instance in instances | searchAll : $parent.searchText | orderBy:sortType:sortReverse")
                                td 
                                    a(href="#/dashboard/{{instance._id}}" ){{instance.eventName}}
                                td {{instance.eventInstanceId}}
                                td {{instance.dateCreated | date:'MM/dd/yyyy' }}
                                td
                                    .progress
                                        progressbar(animate='false', value='instance.randomNumber')
                                            | {{instance.randomNumber}}%
//                                    .progress
//                                        .progress-bar(style="width: 75%;" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" )
//                                            | 75
                                    
                                    
                               
                
        // /.row
        // pagination
        .row
            .col-lg-12
                .pagination-container
                    nav
                        ul.pagination
                            li
                                a(href='#', aria-label='Previous')
                                    span(aria-hidden='true') «
                            li
                                a(href='#') 1
                            li
                                a(href='#') 2
                            li
                                a(href='#') 3
                            li
                                a(href='#', aria-label='Next')
                                    span(aria-hidden='true') »
        // end pagination
    // /.container-fluid
// /#page-wrapper
// /#wrapper

