#page-wrapper
    .container-fluid
        // Page Heading
        .row
            .header.col-lg-12
                h2.page-header
                    | Draft Events
        // Page Content
        .row
            .col-lg-12
                .table-responsive
                    table.table.table-hover.table-striped
                        thead
                            tr
                                th
                                    a(href="" ng-click="sortType = 'eventName'; sortReverse = !sortReverse")
                                        | Event
                                        span(ng-show="sortType == 'eventName' && !sortReverse" class="fa fa-caret-down")
                                        span(ng-show="sortType == 'eventName' &&  sortReverse" class="fa fa-caret-up") 
                                th
                                    a(href="" ng-click="sortType = 'eventType'; sortReverse = !sortReverse")
                                        | Type 
                                        span(ng-show="sortType == 'eventType' && !sortReverse" class="fa fa-caret-down")
                                        span(ng-show="sortType == 'eventType' &&  sortReverse" class="fa fa-caret-up") 
                                th
                                    a(href="" ng-click="sortType = 'coordinatorAssign'; sortReverse = !sortReverse")
                                        | Coordinator 
                                        span(ng-show="sortType == 'coordinatorAssign' && !sortReverse" class="fa fa-caret-down")
                                        span(ng-show="sortType == 'coordinatorAssign' &&  sortReverse" class="fa fa-caret-up") 
                                th
                                    a(href="" ng-click="sortType = 'dateCreated'; sortReverse = !sortReverse")
                                        | Date 
                                        span(ng-show="sortType == 'dateCreated' && !sortReverse" class="fa fa-caret-down")
                                        span(ng-show="sortType == 'dateCreated' &&  sortReverse" class="fa fa-caret-up") 
                        tbody
                             tr(ng-repeat="instance in instances | orderBy:sortType:sortReverse" ng-mouseenter="hover = true" ng-mouseleave="hover = false")
                                td {{instance.eventName}}
                                td {{instance.eventType}}
                                td {{instance.userCreated.displayName}}
                                td {{instance.dateCreated | date:'MM/dd/yyyy' }}
                                td(width="10%")
                                    a.btn.btn-primary.btn-xs.pull-left(href='', data-nodrag='', ng-click="editDraft('lg',instance)")
                                        .glyphicon.glyphicon-pencil
                                    | 
                                    a.btn.btn-danger.btn-xs.pull-right( href='', data-nodrag='', ng-click="deleteDraft(instance)")
                                        .glyphicon.glyphicon-remove
                                     
                             
        //- .row
        //-     .col-lg-12
        //-         .pagination-container
        //-             nav
        //-                 ul.pagination
        //-                     li
        //-                         a(href='#', aria-label='Previous')
        //-                             span(aria-hidden='true') «
        //-                     li
        //-                         a(href='#') 1
        //-                     li
        //-                         a(href='#') 2
        //-                     li
        //-                         a(href='#') 3
        //-                     li
        //-                         a(href='#', aria-label='Next')
        //-                             span(aria-hidden='true') »
        // end pagination
    // /.container-fluid
// /#page-wrapper
// /#wrapper

