#page-wrapper
    .container-fluid
        // Page Heading
        .row
            .header.col-lg-12
                h2.page-header
                    | Draft Events
        // Page Content
        .row
            .col-lg-12
                .table-responsive
                    table.table.table-hover.table-striped
                        thead
                            tr
                                th
                                    a(href="" ng-click="sortType = 'eventName'; sortReverse = !sortReverse") Event
                                        span(ng-show="sortType == 'eventName' && !sortReverse" class="fa fa-caret-down")
                                        span(ng-show="sortType == 'eventName' &&  sortReverse" class="fa fa-caret-up") 
                                th
                                    a(href="" ng-click="sortType = 'eventInstanceId'; sortReverse = !sortReverse") ID
                                        span(ng-show="sortType == 'eventInstanceId' && !sortReverse" class="fa fa-caret-down")
                                        span(ng-show="sortType == 'eventInstanceId' &&  sortReverse" class="fa fa-caret-up")  
                                th
                                    a(href="" ng-click="sortType = 'dateCreated'; sortReverse = !sortReverse") Date 
                                        span(ng-show="sortType == 'dateCreated' && !sortReverse" class="fa fa-caret-down")
                                        span(ng-show="sortType == 'dateCreated' &&  sortReverse" class="fa fa-caret-up")  
                                th Status
                        tbody
                             tr(ng-repeat="instance in instances | orderBy:sortType:sortReverse")
                                td {{instance.eventName}}
                                td {{instance.eventInstanceId}}
                                td {{instance.dateCreated*1000 | date:'MM/dd/yyyy' }}
                                td
                                    .progress
                                        //- .progress-bar.progress-bar-info(style="width: {{instance.eventInstanceStatus*100}}%")
                                        //-     span(class="sr-only")
                                        //-         {{instance.eventInstanceStatus*100}}% Complete
                                        .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%')
                                            | 60
                                        //-.progress-bar.progress-bar-warning(style="width: {{100-
                                        //-.progress-bar.progress-bar-warning(style="width: {{100-(instance.eventInstanceStatus*100)}}%")
                            //- tr
                            //-     td Japanese Earthquake
                            //-     td JE1
                            //-     td 8/30/2010
                            //-     td
                            //-         .progress
                            //-             .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 20%')
                
        // /.row
        // pagination
        .row
            .col-lg-12
                .pagination-container
                    nav
                        ul.pagination
                            li
                                a(href='#', aria-label='Previous')
                                    span(aria-hidden='true') «
                            li
                                a(href='#') 1
                            li
                                a(href='#') 2
                            li
                                a(href='#') 3
                            li
                                a(href='#', aria-label='Next')
                                    span(aria-hidden='true') »
        // end pagination
    // /.container-fluid
// /#page-wrapper
// /#wrapper

