#page-wrapper
    .container-fluid
        // Page Heading
        .row
            .header.col-lg-12
                h2.page-header
                    | Draft Events
        // Page Content
        .row
            .col-lg-12
                .table-responsive
                    table.table.table-hover.table-striped
                        thead
                            tr
                                th
                                    a(href="" ng-click="sortType = 'eventName'; sortReverse = !sortReverse")
                                        |Event
                                        span(ng-show="sortType == 'eventName' && !sortReverse" class="fa fa-caret-down")
                                        span(ng-show="sortType == 'eventName' &&  sortReverse" class="fa fa-caret-up") 
                                th
                                    a(href="" ng-click="sortType = 'eventInstanceId'; sortReverse = !sortReverse")
                                        |ID
                                        span(ng-show="sortType == 'eventInstanceId' && !sortReverse" class="fa fa-caret-down")
                                        span(ng-show="sortType == 'eventInstanceId' &&  sortReverse" class="fa fa-caret-up")  
                                th
                                    a(href="" ng-click="sortType = 'dateCreated'; sortReverse = !sortReverse")
                                        |Date 
                                        span(ng-show="sortType == 'dateCreated' && !sortReverse" class="fa fa-caret-down")
                                        span(ng-show="sortType == 'dateCreated' &&  sortReverse" class="fa fa-caret-up")  
                                th Edit
                        tbody
                             tr(ng-repeat="instance in instances | orderBy:sortType:sortReverse")
                                td {{instance.eventName}}
                                td {{instance.eventInstanceId}}
                                td {{instance.dateCreated | date:'MM/dd/yyyy hh:mm:ss' }}
                                td
                                    a.btn.btn-primary.btn-xs.pull-right(href='', data-nodrag='', ng-click="editDraft('lg',instance)")
                                        .glyphicon.glyphicon-pencil
                                        | 
                                     
                             
        .row
            .col-lg-12
                .pagination-container
                    nav
                        ul.pagination
                            li
                                a(href='#', aria-label='Previous')
                                    span(aria-hidden='true') «
                            li
                                a(href='#') 1
                            li
                                a(href='#') 2
                            li
                                a(href='#') 3
                            li
                                a(href='#', aria-label='Next')
                                    span(aria-hidden='true') »
        // end pagination
    // /.container-fluid
// /#page-wrapper
// /#wrapper

