div(style="background-color:#f2f2f2;" ng-show="contentloaded")
    .modal-content
        .modal-header.header_dark
            .row(style='background-color:#ffffff;')
                .col-lg-12.col-md-12.col-sm-12
                    .event-title-cont
                        h2.h2-create-new(id='myModalLabel')
                            | {{eventdoc.eventName}}
                            .save-draft-cont(style='position:relative; float:right; margin-left:10px; margin-top:0px; margin-right:0px;')
                                button.btn.btn-default.btn-circle2.glyphicon.glyphicon-info-sign(type='button', ng-click='showInfo()' ng-hide="identity.isAuthorized('levelThree')")
                        br
                        p.p-create-new {{eventdoc.dateCreated | date:'medium'}}
                    .save-draft-cont-evt 
                        button.btn.btn-default(type="button" ng-click="saveCategory('draft')" style='background-color:#bababa; color:#ffffff;')
                            | Save 
                    .submit-btn-cont
                        button.btn.btn-default.btn-success(type="button" ng-click="saveCategory('completed')" ng-if="identity.isAuthorized('levelThree')")
                            | Submit
        .modal-body(style='background-color:#f2f2f2;')
            .row(style='background-color:#f2f2f2; height:100vh;')
                .col-lg-12.col-md-12.col-sm-12
                    .tab-container
                        tabset
                            tab(ng-repeat="category in eventdoc.categories | filter: filterTabForAnalyst" heading="{{category.name}}" select="setActiveCategory(category.name)")
                                .return-event-cont
                                    button.btn.btn-primary(type="button" ng-click="returnToAnalyst(category)" ng-show="category.statusCompleted")
                                        | Return
                                .row
                                    .col-lg-12.col-md-12.col-sm-12
                                        .tab-title-heading
                                            img(ng-if='category.name=="Web"' src='img/web-icon.png', width='37', height='32')
                                            img(ng-if='category.name=="TV"' src='img/tv-icon.png', width='37', height='32')
                                            img(ng-if='category.name=="Print"' src='img/news-icon.png', width='37', height='32')
                                            |   {{category.name}}: by {{category.userAssigned.displayName}}
                                        br
                                        br
                                        hr
                                        br
                                        .row
                                            .col-lg-3.col-md-3.col-sm-3
                                                ul.nav.nav-pills.nav-stacked(style="background-color:#f2f2f2;")
                                                    li(ng-repeat="topic in category.topics" ng-class="{active:activeTab=='tab_'+$index}")
                                                        a(data-target="{{'#tab_'+$index}}" data-toggle="pill"  ng-click="setActiveTab('tab_'+$index)" style="cursor:pointer")
                                                            | {{topic.name}}
                                            .col-lg-9.col-md-9.col-sm-9
                                                div.tab-content
                                                    div.tab-pane2(ng-repeat="topic in category.topics" id="{{'#tab_'+$index}}" ng-class="{active:activeTab=='tab_'+$index}")
                                                        h3
                                                            | {{topic.name}}
                                                        div(ng-repeat="subTopic in topic.subTopics")
                                                            h4
                                                                | {{subTopic.name}}
                                                            div(ui-tree='options')
                                                                ul.bullet-disc-nodes(ui-tree-nodes='', ng-model='subTopic.bullets', data-type='bullet' )
                                                                    li.bullet-disc-node(ng-repeat='bullet in subTopic.bullets', ui-tree-node='' ng-show="hideFromCoordinator(category)")
                                                                        .bullet-title.angular-ui-tree-handle-clear(ng-mouseenter="hover = true" ng-mouseleave="hover = false")
                                                                            a.btn.btn-danger.btn-xs.pull-right(ng-show="hover" href='', data-nodrag='', ng-click='removeBullet(subTopic, bullet)')
                                                                                i.glyphicon.glyphicon-remove
                                                                            p
                                                                                | {{bullet.name}}
                                                                        ul.bullet-circle-nodes(ui-tree-nodes='', ng-model='bullet.subBullets', data-type='subBullet')
                                                                            li.bullet-circle-node(ng-repeat='subBullet in bullet.subBullets', ui-tree-node='' ng-show="hideFromCoordinator($index)")
                                                                                .subBullet-title.angular-ui-tree-handle-clear(ng-mouseenter="hover = true" ng-mouseleave="hover = false")
                                                                                    a.btn.btn-danger.btn-xs.pull-right(ng-show="hover" href='', data-nodrag='', ng-click='removeSubBullet(bullet, subBullet)')
                                                                                        i.glyphicon.glyphicon-remove
                                                                                    div
                                                                                        | &nbsp;&nbsp;{{subBullet.name}}
                                                                        ul.bullet-circle-nodes.angular-ui-tree-nodes(data-nodrag='')
                                                                            li.bullet-circle-node.angular-ui-tree-node
                                                                                .subBullet-title.angular-ui-tree-handle-clear
                                                                                    textarea(type='text', ng-model='bullet.newSubBulletName', placeholder='SubBullet name' ng-keyup='$event.keyCode==13 ? addSubBullet(bullet) : null' )
                                                                ul.angular-ui-tree-nodes.bullet-disc-nodes(data-nodrag='')
                                                                    li.angular-ui-tree-node.bullet-disc-node
                                                                        textarea(type='text', ng-model='subTopic.newBulletName', placeholder='Bullet name' ng-keyup='$event.keyCode==13 ? addBullet(subTopic) : null'  ng-show="hideFromCoordinator(category)")
                                                                        textarea(type='text', ng-model='subTopic.newBulletName', placeholder='Awaiting Bullets' ng-keyup='$event.keyCode==13 ? addBullet(subTopic) : null' ng-readonly = 'true' ng-hide="hideFromCoordinator(category)")
                                //.row
                                    .col-lg-6
                                            h3 Data binding
                                            .info
                                                | {{  }}
                                            pre.code.
                                                {{ eventdoc | json }}   

            .clear-divs


            

                            
                        