div(style="background-color:#f2f2f2;" ng-show="contentloaded")
    .modal-content
        .modal-header.header_dark
            .row(style='background-color:#ffffff;')
                .col-lg-12.col-md-12.col-sm-12
                    .event-title-cont
                        h2.h2-create-new(id='myModalLabel')
                            | {{eventdoc.eventName}}
                            .save-draft-cont(style='position:relative; float:right; margin-left:10px; margin-top:0px; margin-right:0px;')
                                button.btn.btn-default.btn-circle2.glyphicon.glyphicon-info-sign(type='button', ng-click='showInfo()' ng-hide="identity.isAuthorized('levelThree')")
                        br
                        .small
                            .p-create-new
                                strong| Due Date: 
                                i{{eventdoc.eventDueDate | date:'medium'}}
                            br
                            .p-create-new
                                strong| Publish Date: 
                                i{{eventdoc.eventPublishDate | date:'medium'}}
                    .save-draft-cont-evt 
                        button.btn.btn-success(type="button" ng-click="saveCategory('draft')" ng-disabled='continueNav')    
                            | Save Edits
                    .submit-btn-cont
                        button.btn.btn-success(type="button" ng-click="saveCategory('completed')" ng-if="identity.isAuthorized('levelThree')")
                            | Submit
                    .submit-btn-cont
                        button.btn.btn-success.pull-right(type="button" ng-click="customize('lg',eventdoc, eventData, gridOptions, gridApi)" ng-if="identity.isAuthorized('levelTwo') && readyForPreview")
                            | Customize Report
        .modal-body(style='background-color:#f2f2f2;')
            .row(style='background-color:#f2f2f2; height:100vh;')
                .col-lg-12.col-md-12.col-sm-12
                    .tab-container
                        tabset
                            tab(ng-repeat="category in eventdoc.categories | filter: filterTabForAnalyst" heading="{{category.name}}" select="setActiveCategory(category.name)" active="tabCategory[$index].active")
                                .row
                                    .col-lg-12.col-md-12.col-sm-12
                                        br
                                        .row
                                            .col-lg-9.col-md-9.col-sm-9
                                                .tab-title-heading
                                                    img(src='img/notepad-icon.png', width='37', height='32')
                                                    |   {{category.name}}: by {{category.userAssigned.displayName}}
                                            .col-lg-3.col-md-3.col-sm-3
                                                .return-event-cont
                                                    button.btn.btn-default(style='color:#337ab7;', type="button" ng-click="returnToAnalyst(category)" ng-show="category.statusCompleted && identity.isAuthorized('levelTwo')")
                                                        | Return to analyst
                                        br
                                        hr
                                        br
                                        .row
                                            .col-lg-3.col-md-3.col-sm-3
                                                .fixedWidthMenu(id="fixmenu" set-class-when-at-top="fix-to-top")
                                                    ul.nav.nav-pills.nav-stacked(style="background-color:#f2f2f2;")
                                                        li(ng-repeat="topic in category.topics" ng-class="{active:activeTab=='tab_'+$index}")
                                                            a(data-target="{{'#tab_'+$index}}" data-toggle="pill"  ng-click="gotoElement(category.name+'_tab_'+$index)" style="cursor:pointer")
                                                                | {{topic.name}}
                                            .col-lg-9.col-md-9.col-sm-9
                                                //div.tab-content
                                                div.tab-pane2(ng-repeat="topic in category.topics"  ng-class="{active:activeTab=='tab_'+$index}")
                                                    h3(id="{{category.name+'_tab_'+$index}}")
                                                        | {{topic.name}}
                                                    div(ui-tree='options')
                                                        ul.bullet-disc-nodes(ui-tree-nodes='', ng-model='topic.bullets', data-type='bullet' )
                                                            li.bullet-disc-node(ng-repeat='bullet in topic.bullets', ui-tree-node='' ng-show="hideFromCoordinator(category)" )
                                                                .bullet-title.angular-ui-tree-handle-clear(ng-show='!bullet.editing' ng-mouseenter="hoverBullet = true" ng-mouseleave="hoverBullet = false")
                                                                    a.del-edit-btn.btn.btn-default.btn-xs.pull-right(ng-show="hoverBullet" href='', data-nodrag='', ng-click='removeBullet(topic, bullet)')
                                                                        i.glyphicon.glyphicon-trash
                                                                    a.del-edit-btn.btn.btn-default.btn-xs.pull-right(ng-show="hoverBullet" href='', data-nodrag='', ng-click='editBullet(bullet)')
                                                                        i.glyphicon.glyphicon-pencil
                                                                    p
                                                                        | {{bullet.name}}
                                                                .bullet-title(data-nodrag='', ng-show='bullet.editing')
                                                                    textarea.bulletPlaceHoder(type='text', ng-model='bullet.name' ng-keydown='$event.keyCode==13 ? saveBullet(bullet,$event) : null' ng-blur='saveBullet(bullet,$event)')
                                                                ul.bullet-circle-nodes(ui-tree-nodes='', ng-model='bullet.subBullets', data-type='subBullet')
                                                                    li.bullet-circle-node(ng-repeat='subBullet in bullet.subBullets', ui-tree-node='' ng-show="hideFromCoordinator($index)")
                                                                        .subBullet-title.angular-ui-tree-handle-clear(ng-show='!subBullet.editing' ng-mouseenter="hoverSubBullet = true" ng-mouseleave="hoverSubBullet = false")
                                                                            a.del-edit-btn.btn.btn-default.btn-xs.pull-right(ng-show="hoverSubBullet" href='', data-nodrag='', ng-click='removeSubBullet(bullet, subBullet)')
                                                                                i.glyphicon.glyphicon-trash
                                                                            a.del-edit-btn.btn.btn-default.btn-xs.pull-right(ng-show="hoverSubBullet" href='', data-nodrag='', ng-click='editSubBullet(subBullet)')
                                                                                i.glyphicon.glyphicon-pencil
                                                                            div
                                                                                | &nbsp;&nbsp;{{subBullet.name}}
                                                                        .subBullet-title(data-nodrag='', ng-show='subBullet.editing')
                                                                            textarea.bulletPlaceHoder(type='text', ng-model='subBullet.name' ng-keydown='$event.keyCode==13 ? saveSubBullet(subBullet,$event) : null' ng-blur='saveSubBullet(subBullet,$event)')
                                                                ul.bullet-circle-nodes.angular-ui-tree-nodes(data-nodrag='')
                                                                    li.bullet-circle-node.angular-ui-tree-node
                                                                        textarea.bulletPlaceHoder(type='text', ng-model='bullet.newSubBulletName', placeholder='Add sub-bullet. (Hit enter to add next sub-bullet)' ng-keydown='$event.keyCode==13 ? addSubBullet(bullet,$event) : null' ng-blur='addSubBullet(bullet,$event)')
                                                        ul.angular-ui-tree-nodes.bullet-disc-nodes(data-nodrag='')
                                                            li.angular-ui-tree-node(ng-hide="hideFromCoordinator(category)")
                                                                div.awaiting
                                                                    | Awaiting information from analyst
                                                            li.angular-ui-tree-node.bullet-disc-node(ng-show="hideFromCoordinator(category)")
                                                                textarea.bulletPlaceHoder(type='text', ng-model='topic.newBulletName', placeholder='Add bullet. (Hit enter to add next bullet)' ng-keydown='$event.keyCode==13 ? addBullet(topic,$event) : null' ng-blur='addBullet(topic,$event)')
                                                    div(ng-repeat="subTopic in topic.subTopics")
                                                        h4
                                                            | {{subTopic.name}}
                                                        div(ui-tree='options')
                                                            ul.bullet-disc-nodes(ui-tree-nodes='', ng-model='subTopic.bullets', data-type='bullet' )
                                                                li.bullet-disc-node(ng-repeat='bullet in subTopic.bullets', ui-tree-node='' ng-show="hideFromCoordinator(category)" )
                                                                    .bullet-title.angular-ui-tree-handle-clear(ng-show='!bullet.editing' ng-mouseenter="hoverBullet = true" ng-mouseleave="hoverBullet = false")
                                                                        a.del-edit-btn.btn.btn-default.btn-xs.pull-right(ng-show="hoverBullet" href='', data-nodrag='', ng-click='removeBullet(subTopic, bullet)')
                                                                            i.glyphicon.glyphicon-trash
                                                                        a.del-edit-btn.btn.btn-default.btn-xs.pull-right(ng-show="hoverBullet" href='', data-nodrag='', ng-click='editBullet(bullet)')
                                                                            i.glyphicon.glyphicon-pencil
                                                                        p
                                                                            | {{bullet.name}}
                                                                    .bullet-title(data-nodrag='', ng-show='bullet.editing')
                                                                        textarea.bulletPlaceHoder(type='text', ng-model='bullet.name' ng-keydown='$event.keyCode==13 ? saveBullet(bullet,$event) : null' ng-blur='saveBullet(bullet,$event)')
                                                                    ul.bullet-circle-nodes(ui-tree-nodes='', ng-model='bullet.subBullets', data-type='subBullet')
                                                                        li.bullet-circle-node(ng-repeat='subBullet in bullet.subBullets', ui-tree-node='' ng-show="hideFromCoordinator($index)")
                                                                            .subBullet-title.angular-ui-tree-handle-clear(ng-show='!subBullet.editing' ng-mouseenter="hoverSubBullet = true" ng-mouseleave="hoverSubBullet = false")
                                                                                a.del-edit-btn.btn.btn-default.btn-xs.pull-right(ng-show="hoverSubBullet" href='', data-nodrag='', ng-click='removeSubBullet(bullet, subBullet)')
                                                                                    i.glyphicon.glyphicon-trash
                                                                                a.del-edit-btn.btn.btn-default.btn-xs.pull-right(ng-show="hoverSubBullet" href='', data-nodrag='', ng-click='editSubBullet(subBullet)')
                                                                                    i.glyphicon.glyphicon-pencil
                                                                                div
                                                                                    | &nbsp;&nbsp;{{subBullet.name}}
                                                                            .subBullet-title(data-nodrag='', ng-show='subBullet.editing')
                                                                                textarea.bulletPlaceHoder(type='text', ng-model='subBullet.name' ng-keydown='$event.keyCode==13 ? saveSubBullet(subBullet,$event) : null' ng-blur='saveSubBullet(subBullet,$event)')
                                                                    ul.bullet-circle-nodes.angular-ui-tree-nodes(data-nodrag='')
                                                                        li.bullet-circle-node.angular-ui-tree-node
                                                                            textarea.bulletPlaceHoder(type='text', ng-model='bullet.newSubBulletName', placeholder='Add sub-bullet. (Hit enter to add next sub-bullet)' ng-keydown='$event.keyCode==13 ? addSubBullet(bullet,$event) : null' ng-blur='addSubBullet(bullet,$event)')
                                                            ul.angular-ui-tree-nodes.bullet-disc-nodes(data-nodrag='')
                                                                li.angular-ui-tree-node(ng-hide="hideFromCoordinator(category)")
                                                                    div.awaiting
                                                                        | Awaiting information from analyst
                                                                li.angular-ui-tree-node.bullet-disc-node(ng-show="hideFromCoordinator(category)")
                                                                    textarea.bulletPlaceHoder(type='text', ng-model='subTopic.newBulletName', placeholder='Add bullet. (Hit enter to add next bullet)' ng-keydown='$event.keyCode==13 ? addBullet(subTopic,$event) : null' ng-blur='addBullet(subTopic,$event)')
                                                    br
                                                    br                        
                                //- .row
                                //-     .col-lg-6
                                //-             h3 Data binding
                                //-             .info
                                //-                 | {{  }}
                                //-             pre.code.
                                //-                 {{ eventdoc | json }}   
                            //DATA TAB
                            tab(heading="Daily Metrics" select="tabShown = !tabShown; gridTabSelected();" deselect="tabShown = !tabShown")
                                .row
                                    .col-lg-12.col-md-12.col-sm-12(style='padding-left:35px; padding-right:35px; padding-bottom:15px;' ui-tree='options' drag-enabled="identity.isAuthorized('levelTwo')")
                                        br
                                        .row
                                            .col-lg-9.col-md-9.col-sm-9
                                                .tab-title-heading
                                                    img(src='img/web-icon.png', width='37', height='32')
                                                    |   Daily Metrics
                                        br
                                        hr
                                        br
                                        .row
                                            //-input(type='text', ng-model='grid.newGridName')
                                            //-|  
                                            //-button.btn.btn-default(type='button' ng-click='addTable(grid,$event)',style='color:#337ab7;') Add Table  
                                            //-br
                                            //-br 
                                            button#button_add.btn.btn-default(ng-click='addColumn()', style='color:#337ab7;', ng-show="eventData.gridData.length > 0 && identity.isAuthorized('levelTwo')") Add Column to the End
                                            button#button_remove.btn.btn-default(ng-click='removeColumn()', style='color:#337ab7;', ng-show="eventData.gridData.length > 0 && identity.isAuthorized('levelTwo')") Remove Last Column
                                            //-button#addData.btn.btn-default(type='button', ng-click='addRow()', style='color:#337ab7;') Add Row
                                            //-br
                                            br
                                            br
                                        .row
                                            ol(ui-tree-nodes='', ng-model='eventData.gridData' )
                                                li(ng-repeat='grid in eventData.gridData', ui-tree-node='' on-finish-render="ngRepeatFinished")
                                                    .topic-title.angular-ui-tree-handle(ng-show='!grid.editing', ng-mouseenter="hoverTopic = true", ng-mouseleave="hoverTopic = false" )
                                                        a.del-edit-btn.btn.btn-default.btn-xs.pull-right(ng-show="hoverTopic && identity.isAuthorized('levelTwo')" href='', data-nodrag='', ng-click='removeTable(grid.gridName)')
                                                            i.glyphicon.glyphicon-trash
                                                        a.del-edit-btn.btn.btn-default.btn-xs.pull-right(ng-show="hoverTopic && identity.isAuthorized('levelTwo')" href='', data-nodrag='', ng-click='editTableName(grid)')
                                                            i.glyphicon.glyphicon-pencil
                                                        a.del-edit-btn.btn.btn-default.btn-xs.pull-right(ng-show="hoverTopic && identity.isAuthorized('levelTwo')" href='', data-nodrag='', ng-click="addRow(grid,'grid_'+$index)")
                                                            i.glyphicon.glyphicon-tasks
                                                        a.del-edit-btn.btn.btn-default.btn-xs.pull-right(ng-show="hoverTopic && identity.isAuthorized('levelTwo')" href='', data-nodrag='', ng-click="removeLastRow(grid,'grid_'+$index)")
                                                            i.glyphicon.glyphicon-minus
                                                        a.del-edit-btn.btn.btn-default.btn-xs.pull-right(ng-show="hoverTopic && identity.isAuthorized('levelTwo')" href='', data-nodrag='', ng-click="isCollapsed[$index] = !isCollapsed[$index]; buildOneGridChartData($index);")
                                                            i.glyphicon.glyphicon-stats
                                                        div  {{grid.gridName}}
                                                    .topic-title.angular-ui-tree-handle(data-nodrag='', ng-show='grid.editing')
                                                        label.sr-only(for='gridName') Table name
                                                        input.form-control(type='text', placeholder='Table name', ng-model='grid.gridName' ng-keyup='$event.keyCode==13 ? saveTableName(grid,$event) : null' ng-blur='saveTableName(grid,$event)')
                                                    ol(ui-tree-nodes='', ng-model='grid.dailyData', data-type='subTopic')
                                                            .grid(id="{{'grid_'+$index}}", ui-grid="{data: grid.dailyData, columnDefs : columns, showFooter: false, enableVerticalScrollbar:0,enableHorizontalScrollbar: 2, enableCellSelection: true, enableRowSelection: false, enableCellEditOnFocus: true}", ng-style="getTableHeight(grid,'grid_'+$index)",ui-grid-auto-resize,ui-grid-edit,ui-grid-cellNav,ui-grid-pinning) 
                                                            //- br
                                                            //- button#addData.btn.btn-default(type='button', ng-click='addRow(grid)', style='color:#337ab7;') Add New Row to {{grid.gridName}}
                                                            //- br
                                                            div(id="{{'panel_'+$index}}" collapse='!isCollapsed[$index]')
                                                                .well.well-lg
                                                                    highchart(id="{{'chartHC_'+$index}}" config='highChartConfig[$index]')
                                                                    br
                                                                    canvas(id="{{'chartJS_'+$index}}" tc-chartjs-line chart-options="chartJsLineConfig" chart-data="chartJsData[$index]" width="500" height="300" auto-legend) 
                                                                    //canvas(id="{{'chartJS_'+$index}}" width="500" height="300" ) 
                                                                    //div#js-legend.chart-legend
                                                                    br
                                                                    div(google-chart='', chart='googleChartObj[$index]', style='{{cssStyle}}')
                                                            br
                                            ol.angular-ui-tree-nodes(ng-show = "identity.isAuthorized('levelTwo')")
                                                li.angular-ui-tree-node
                                                    .topic-title.angular-ui-tree-handle
                                                        form.form-inline(role='form')
                                                            .form-topic
                                                                label.sr-only(for='gridName') Table name
                                                                input#gridName.form-control(type='text' placeholder='Enter Table name to add' ng-model="grid.newGridName" ng-keyup='$event.keyCode==13 ? addTable(grid,$event) : null' ng-blur='addTable(grid,$event)')
                                                            //button.btn.btn-default(type='submit', ng-click='addTable(grid)') Add Table   

                                        //br
                                        //.row
                                               highchart#highchart1(config='highChartConfig')
                                        //br
                                        //.row
                                            canvas#chartJS_0(width='500', height='400' ng-if="tabShown") 
                                            div#js-legend.chart-legend
                                            div(ng-repeat = 'grid in eventData.gridData') 
                                                div {{grid.gridName}}
                                                canvas(id="{{'chartJS_'+$index}}", width='500', height='300' ng-if="tabShown")
                                                div#js-legend.chart-legend
                             //tab(heading="Data2" select="setActiveCategory('Data2')")
                                 .row
                                    .col-lg-12.col-md-12.col-sm-12
                                        br
                                        .row
                                            .col-lg-9.col-md-9.col-sm-9
                                                 .tab-title-heading
                                                    img(src='img/web-icon.png', width='37', height='32')
                                        .row
                                            .col-lg-3.col-md-3.col-sm-3
                                                ul.nav.nav-pills.nav-stacked(style="background-color:#f2f2f2;")
                                                    li(ng-repeat="topic in eventData.topics" ng-class="{active:activeTab=='tab_'+$index}")
                                                        a(data-target="{{'#tab_'+$index}}" data-toggle="pill"  ng-click="gotoElement('tab_'+$index)" style="cursor:pointer")
                                                            | {{topic.name}}
                                            .col-lg-9.col-md-9.col-sm-9
                                                //div.tab-content
                                                div(ng-repeat="topic in eventData.topics" id="{{'tab_'+$index}}" ng-class="{active:activeTab=='tab_'+$index}")
                                                        |{{topic.name}}
                                                        .grid(ui-grid="{data: topic.subTopics, enableCellEditOnFocus: true , columnDefs: columnsLayout} ", ui-grid-edit,ui-grid-cellNav)                                                        
            .row
                .col-lg-6
                        h3 Data binding
                        .info
                            | {{  }}
                        pre.code.
                            {{ eventData | json }}   
            .clear-divs


            

                            
                        