div.container
    button.pull-right(ng-click="createEvent('lg')")
        | Create Event
    table(class="table table-bordered table-striped")
        thead
            tr
                th
                    a(href="" ng-click="sortType = 'eventName'; sortReverse = !sortReverse") Event Name
                        span(ng-show="sortType == 'eventName' && !sortReverse" class="fa fa-caret-down")
                        span(ng-show="sortType == 'eventName' &&  sortReverse" class="fa fa-caret-up") 
                th
                    a(href="" ng-click="sortType = 'eventInstanceId'; sortReverse = !sortReverse") Report ID
                        span(ng-show="sortType == 'eventInstanceId' && !sortReverse" class="fa fa-caret-down")
                        span(ng-show="sortType == 'eventInstanceId' &&  sortReverse" class="fa fa-caret-up")  
                th 
                    |Status
        tbody
            tr(ng-repeat="instance in instances | orderBy:sortType:sortReverse")
                td(width=auto) {{instance.eventName}}
                td {{instance.eventInstanceId}}
                td(width=30) {{instance.eventInstanceStatus*100 | number:2}}% 
                    .progress(style="border:0px; border-radius: 0px; height: 11px;")
                        .progress-bar.progress-bar-success(style="width: {{instance.eventInstanceStatus*100}}%")
                            span(class="sr-only")
                                {{instance.eventInstanceStatus*100}}% Complete
                        .progress-bar.progress-bar-warning(style="width: {{100-(instance.eventInstanceStatus*100)}}%")
