div(ng-controller='previewReportCtrl' style='background-color:#f2f2f2;')
	.modal-header.header_dark
		.row(style='background-color:#ffffff;')
			.col-lg-12
				.create-new-event-cont
					h2 Report Preview
					i Due Date: {{eventdoc.eventDueDate | date:'medium'}}	
				.save-draft-cont(style='position:absolute; float:left; margin-left:-30px;')
					button.btn.btn-default.btn-circle.glyphicon.glyphicon-remove(type='button' ng-click='cancel()')
	.modal-body
		.row
			.col-lg-12.col-md-12.col-sm-12
				.report-wrapper
					h4.preview-report-headers {{customizedDoc.title}}
					h4.preview-report-headers {{customizedDoc.type}}
					h4.preview-report-headers {{eventdoc.eventPublishDate | date:'longDate'}}
					br
					div(ng-repeat='section in customizedDoc')
						h4.report-cat-title
							{{section.sectionName}}
						div(ng-repeat='category in section.sectionData.categories' ng-if='section.sectionType == "Document"') 
							h4.report-category(ng-if='category.checked')
								| {{category.name}}
							div(ng-repeat='topic in category.topics' ng-if='topic.checked')
								h4.report-topic
									| {{topic.name}}
								ul
									li(ng-repeat='topicBullets in topic.bullets' ng-if='topicBullets.checked') 
										| {{topicBullets.name}}
										ul
											li(ng-repeat='topicSubBullets in topicBullets.subBullets' ng-if='topicSubBullets.checked')
												| {{topicSubBullets.name}}
								div(ng-repeat='subtopic in topic.subTopics' ng-if='subtopic.checked')
									h4.report-sub-topic
										| {{subtopic.name}}
									ul
										li(ng-repeat='bullet in subtopic.bullets' ng-if='bullet.checked') 
											| {{bullet.name}}
											ul
												li(ng-repeat='subBullet in bullet.subBullets' ng-if='subBullet.checked') 
													| {{subBullet.name}}
						div(ng-if='section.sectionType == "Metrics"' ui-tree='')
								.row
									ol(ui-tree-nodes='' ng-model='section.sectionData.gridData')
										li(ng-repeat='grid in section.sectionData.gridData', ui-tree-node='')
											.topic-title.angular-ui-tree-handle(data-nodrag='')
												div {{grid.gridName}}
											ol(ui-tree-node='' ng-model='grid.dailyData' data-type='subTopic')
												.grid(id="{{'grid_'+$index}}", ui-grid="{data: grid.dailyData, columnDefs : columns, showFooter: false, enableVerticalScrollbar:0,enableHorizontalScrollbar: 2, enableHeaderOptions: false, enableCellSelection: false, enableRowSelection: false, enableCellEditOnFocus: true,}", ng-style="getTableHeight(grid,'grid_'+$index)",ui-grid-auto-resize) 
						br
						i(ng-if='!section.notes == ""') Notes: {{section.notes}}
						br

					


			//- .row(style='background-color:#ffffff; margin-top:-15px;')
			//- 	.col-lg-12
			//- 		.form-comp-cont
			//- 			label Report Title
			//- 			input#exampleInputName2.form-control(placeholder='Enter report title' ng-model='reportTitle')