// new row
.row
	.col-lg-9.col-md-9.col-sm-9
		tabset
			tab(ng-repeat="category in document.categories" heading="{{category.displayValue}}")
				div(ng-repeat="topic in document.categories[category.displayValue].topics")
					h1
						| {{topic.displayValue}}
					label(type="button" class="btn btn-default" aria-label="Left Align" ng-click="addSubTopic(category.displayValue,topic.displayValue)")
						| add
					input.form-control(type="text" ng-model="subTopicValue[category.displayValue+'-'+topic.displayValue]" placeholder="Add Sub Topic" )
					div(ng-repeat="bullet in document.categories[category.displayValue].topics[topic.displayValue].bullets")
						strong
							| &nbsp;&nbsp;&nbsp;{{bullet.displayValue}}
						div(ng-repeat="subbullet in document.categories[category.displayValue].topics[topic.displayValue].bullets[bullet.displayValue].subBullets")
							small
								| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{subbullet.displayValue}}
					div(ng-repeat="subtopic in document.categories[category.displayValue].topics[topic.displayValue].subTopics")
						h3
							| &nbsp;&nbsp;&nbsp;{{subtopic.displayValue}}
						div(ng-repeat="bullet in document.categories[category.displayValue].topics[topic.displayValue].subTopics[subtopic.displayValue].bullets")
							strong
								| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{bullet.displayValue}}
							div(ng-repeat="subbullet in document.categories[category.displayValue].topics[topic.displayValue].subTopics[subtopic.displayValue].bullets[bullet.displayValue].subBullets")
								small
									| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{subbullet.displayValue}}
					hr
				label(type="button" class="btn btn-default" aria-label="Left Align" ng-click="addTopic(category.displayValue)")
					| add
				input.form-control(type="text" ng-model="topicValue[category.displayValue]" placeholder="Add Topic" )








