blue/* this is a custom CSS stylesheet */
body {
  

  padding-top: 0px;
  
  color:#777777;

}

input[type="text"].eventTemplateSubTopic {
   height: 33px;
   font-size: 14px;
   line-height: 24px;
}
input[type="text"].eventTemplateTopic {
   height: 33px;
   font-size: 14px;
   line-height: 24px;
}

/* THIS IS FOR COMMSPHERE -KEEP!-*/

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .4s ease-out;
     -moz-transition:    -moz-transform .4s ease-out;
       -o-transition:      -o-transform .4s ease-out;
          transition:         transform .4s ease-out;
  -webkit-transform: translate3d(125%, 0, 0);
      -ms-transform: translate3d(125%, 0, 0);
          transform: translate3d(125%, 0, 0);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.center-modal {
    position: fixed;
    top: 10%;
    left: 18.5%;
    z-index: 1050;
    width: 80%;
    height: 80%;
    margin-left: -10%;
}

@media (min-width: 992px) {
  .modal-lg {
    width: 950px;
  }
}

