blue/* this is a custom CSS stylesheet */
body {
  

  padding-top: 0px;
  
  color:#777777;

}

input[type="text"].eventTemplateSubTopic {
   height: 33px;
   font-size: 14px;
   line-height: 24px;
}
input[type="text"].eventTemplateTopic {
   height: 33px;
   font-size: 14px;
   line-height: 24px;
}

/* THIS IS FOR COMMSPHERE -KEEP!-*/

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .4s ease-out;
     -moz-transition:    -moz-transform .4s ease-out;
       -o-transition:      -o-transform .4s ease-out;
          transition:         transform .4s ease-out;
  -webkit-transform: translate3d(125%, 0, 0);
      -ms-transform: translate3d(125%, 0, 0);
          transform: translate3d(125%, 0, 0);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.center-modal {
    position: fixed;
    top: -20px;
    left: 30%;
    z-index: 1050;
    width: 80%;
    
    margin-left: -10%;
}
/*
.center-modal {
    position: fixed;
    top: 10%;
    left: 18.5%;
    z-index: 1050;
    width: 80%;
    height: 80%;
    margin-left: -10%;
}
*/

@media (min-width: 992px) {
  .modal-lg {
    width: 950px;
  }
}


.btn {
    margin-right: 8px;
}

.angular-ui-tree-handle-clear {
    background: transparent;
    border: 1px solid transparent;
    color: #333333;
	padding:0px;
    /*padding: 10px 10px;*/
    cursor:move;
}

.angular-ui-tree-handle-clear:hover {
    /*color: #333333;
    background: transparent;
    border-color: transparent;*/
	background-color:#EBF5F7;
}

.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.topic-title {
    background-color: #687074 !important;
    color: #FFF !important;
}


.form-topic {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.angular-ui-tree-empty {
  border: 0px dashed #bbb;
  min-height: 0px;
  background-color: #e5e5e5;
  background-image: -webkit-linear-gradient(45deg,#fff 25%,transparent 25%,transparent 75%,#fff 75%,#fff),-webkit-linear-gradient(45deg,#fff 25%,transparent 25%,transparent 75%,#fff 75%,#fff);
  background-image: -moz-linear-gradient(45deg,#fff 25%,transparent 25%,transparent 75%,#fff 75%,#fff),-moz-linear-gradient(45deg,#fff 25%,transparent 25%,transparent 75%,#fff 75%,#fff);
  background-image: linear-gradient(45deg,#fff 25%,transparent 25%,transparent 75%,#fff 75%,#fff),linear-gradient(45deg,#fff 25%,transparent 25%,transparent 75%,#fff 75%,#fff);
  background-size: 60px 60px;
  background-position: 0 0,30px 30px;
}


.bullet-disc-nodes{
  list-style-type: disc;
  margin-left: 40px;
}
.bullet-disc-node{
  display: list-item;
}

.bullet-circle-nodes{
  list-style-type: circle;
  margin-left: 20px;
}
.bullet-circle-node{
  display: list-item;
}
.clear-divs {
	clear:both;
}

.progressbartextblack {
  color: black;
}

.return-event-cont {
  float: right;
}

.awaiting {
  text-align: left;
  color:#888;
  font-style: italic;
  font-size: 16;
}
.del-edit-btn {
	color:#498cd0;
}
