doctype
html(lang="en" ng-app="app")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title CommSphere
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    //link(rel="stylesheet" href="/css/bootstrap-theme.min.css")
    link(rel="stylesheet" href="/css/font-awesome.min.css")
    link(rel="stylesheet" href="/css/custom.css")
    link(rel="stylesheet" href="/vendor/toastr/toastr.css")
    link(rel="stylesheet" href="/css/animation.css")
    link(rel="stylesheet" href="/css/sb-admin.css")
    link(rel="stylesheet" href="/css/create-new-event.css")
    link(rel="P3Pv1" href="http://www.cdc.gov/w3c/p3p.xml")
  
    body(ng-controller='rootCtrl')
        #wrapper
            // Navigation
            nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
                // Brand and toggle get grouped for better mobile display
                .navbar-header
                    img(src='img/comm-sphere-logo.png', height='71', width='234')
                // Top Menu Items
                .create-event-button
                    button.btn.btn-danger(type='button' ng-click="createEvent('lg')") Create New Event +
                // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
                .collapse.navbar-collapse.navbar-ex1-collapse
                    ul.nav.navbar-nav.side-nav
                        li.side-nav-welcome
                            i.fa.fa-fw.fa-user
                            |   Hello John Coordinator!
                        li.side-nav-search
                            .col-md-12
                                .right-inner-addon
                                    i.fa.fa-fw.fa-search
                                    input.form-control(ng-model="searchText" type='search', placeholder='Search Events', style='background-color:#44474c; border: 1px thin; border-color:#212328; color:#aeaeae; font-weight:normal;')
                        li.side-nav-main-tab
                            i.fa.fa-fw.fa-home
                            |   MAIN
                        li(ng-class="{active:activeMenu=='dashboard'}")
                            a(href='/#/') Active Events
                        li(ng-class="{active:activeMenu=='drafts'}")
                            a(href='/#/dashboard/drafts') Saved Drafts
                        li(ng-class="{active:activeMenu=='archives'}")
                            a(href='/#/dashboard/archives') Archived Events
                            br
                        li.side-nav-settings
                            i.fa.fa-fw.fa-cog
                            |   SETTINGS
                        li
                            a(href='#') Manage Users
                        li
                            a(href='#') Display Options
                        li
                            a(href='#')
                                | Logout
                                i.fa.fa-fw.fa-power-off
                        li.side-nav-cdc-logo
                            img(src='img/cdc-logo.png', height='60', width='144')
                        li.side-nav-iiu-logo
                            img(src='img/iiu-logo.png', height='33', width='207')
                // /.navbar-collapse
            block main-content
    include currentUser                     
    include scripts